
.connect{
    color:white;
    text-align: center;
    background-color: black;
    margin: 1% 5% 2px 5%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 4px rgb(83, 86, 90)
}
.connect p{
    font-size: 22px;
    text-align: left
}

.connect a{
    font-size:25px;
}

.front{
    text-decoration-line: underline;
    
}