.App {
    font-family: sans-serif;
    text-align: center;
    box-shadow: 5px 7px gray;
    width: 200px;
    padding-bottom: 10px;
    background: rgb(70, 128, 204);
    border-radius: 5px;
    margin: auto;
  }
  .btn {
    width: 35px;
    height: 35px;
    margin: 2px;
    background: lightgray;
  }
  
  .result {
    width: 111px;
    height: 35px;
    margin: 2px;
  }
  .input {
    width: 146px;
  }
  
  .oper {
    width: 35px;
    height: 35px;
    margin: 2px;
    background: orange;
  }

  